





{% extends 'base.html' %}

{% block content %}
<h1>Edit document group : {{ group.name }}</h1>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <h3>Select document :</h3>
    {% for document in documents %}
        <label>
            <input type="checkbox" name="documents" value="{{ document.id }}"
            {% if document in group.documents.all %} checked {% endif %}>
            {{ document.title }}
        </label><br>
    {% endfor %}
    <button type="submit" class="btn" type="button" style="background-color: #007bff; color: white;">Update group </button>
</form>
<br>
    <a href="{% url 'list_document_groups' %}">
        <button class="btn" type="button" style="background-color: #007bff; color: white;">
            Back to list doeument groups 
        </button>
    </a>


{% endblock %}


