{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- Main Content Area -->
        <main class="col-md-9 ms-sm-auto col-lg-12 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Dashboard</h1>
            </div>

            <!-- Section for Absences -->
            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                            <h4 class="my-0 fw-normal">Absences Management</h4>
                        </div>
                        <div class="card-body">
                            <p>Manage users and their roles within the system.</p>
                            <a href="{% url 'absences_list' %}" class="btn btn-primary">Go to Absences</a>
                        </div>
                    </div>
                </div>

                <!-- Section for Holiday -->
                <div class="col-md-6">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                            <h4 class="my-0 fw-normal">Holiday Management</h4>
                        </div>
                        <div class="card-body">
                            <p>Manage and allocate golidays to each employee</p>
                            <a href="{% url 'holidays_list' %}" class="btn btn-primary">Go to Holidays</a>
                        </div>
                    </div>
                </div>
                <!-- Section for Absences -->
                <div class="col-md-6">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                            <h4 class="my-0 fw-normal">Employee Management</h4>
                        </div>
                        <div class="card-body">
                            <p>Create and manage employees</p>
                            <a href="{% url 'employee_list' %}" class="btn btn-primary">Go to Employees</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                            <h4 class="my-0 fw-normal">Recruitment Management</h4>
                        </div>
                        <div class="card-body">
                            <p>Manage and Interview recruiters</p>
                            <a href="{% url 'recruiters_list' %}" class="btn btn-primary">Go to Recruitment</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                            <h4 class="my-0 fw-normal">Skills & Goals Management</h4>
                        </div>
                        <div class="card-body">
                            <p>Set and Observe progress on goals set for employees</p>
                            <a href="{% url 'goals_list' %}" class="btn btn-primary">Go to Goals</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- add more apps -->
        
        </main>
    </div>
</div>
{% endblock %}
