{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">

        <!-- Main Content Area -->
        <main class="col-md-9 ms-sm-auto col-lg-12 px-md-4">
            
            <!-- <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Welcome, {{ request.user.username }}!</h2>
                    </div>
                </div>

                <div class="row">
                </div>
            </div> -->

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Dashboard</h1>
            </div>

            <!-- Section for Users App -->
            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                            <h4 class="my-0 fw-normal">User Management</h4>
                        </div>
                        <div class="card-body">
                            <p>Manage users and their roles within the system.</p>
                            <a href="{% url 'user_list' %}" class="btn btn-primary">Go to Users</a>
                        </div>
                    </div>
                </div>

                <!-- Section for Documents App -->
                <div class="col-md-6">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                            <h4 class="my-0 fw-normal">Document Management</h4>
                        </div>
                        <div class="card-body">
                            <p>Upload and manage documents like PDFs, images, and videos.</p>
                            <a href="{% url 'document_list' %}" class="btn btn-primary">Go to Documents</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                            <h4 class="my-0 fw-normal">HR Management</h4>
                        </div>
                        <div class="card-body">
                            <p>Manage employees, holidays, absences and more...</p>
                            <a href="{% url 'hr' %}" class="btn btn-primary">Go to HR</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- add more apps -->
        
        </main>
    </div>
</div>
{% endblock %}
